<div class="container-modal">
    <table class="admins container-simple">
        <tr>
            <th>Admins: </th>
        </tr>
        @for (admin of Admins; track $index) {
        <tr>
            <td class="first">{{admin.id_user}}</td>
            <td class="second">{{admin.username}}</td>
            <td class="third">{{admin.name}}</td>
            <td>{{admin.lastname}}</td>
            <td>{{admin.email}}</td>
        </tr>
        }
    </table>
    <table class="users container-simple">
        <tr>
            <th>Users: </th>
        </tr>
        @for (user of Users; track $index) {
        <tr>
            <td class="first">{{user.id_user}}</td>
            <td class="second">{{user.username}}</td>
            <td class="third">{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
        </tr>
        }
    </table>
</div>