<div class="container-usermain">
    <app-toolbar></app-toolbar>
    <div class="bg-main">
        <div class="makeappointment container" (click)="makeappointment()">
            <p class="make-appointment-text">Make an appointment</p>
            <img class="make-appointment-icon" src="../../assets/icons/calendar.svg" alt="">
            <!--<mat-icon class="" fontIcon="event_available"></mat-icon>-->

        </div>

        <div class="appointments container">
            <label>Your Appointments:</label>
            <div class="scroll-container">

                @for(appointment of appointments; track appointment; let index = $index){
                <div class="appointment">
                    <div class="index-text">
                        <p>{{index+1}}</p>
                    </div>
                    <div class="text">
                        <p>Date: {{appointment.date}}</p>
                        <p>{{appointment.appointment_time}}</p>
                    </div>
                    <div class="close" (click)="deleteAppointment(appointment)">
                        <mat-icon fontIcon="close"></mat-icon>
                    </div>

                </div>
                }
            </div>
        </div>
    </div>
</div>