<app-toolbar></app-toolbar>
<div class="makeappointment" (click)="makeappointment()">
    <mat-icon class="make-appointment-ico" fontIcon="event_available"></mat-icon>
    <br>
    <p>Make an appointment</p>
</div>
<div class ="appointments">
<label>Your Appointments:</label>
<div class="container">
        @for(appointment of appointments; track appointment; let index = $index){
        <div class="appointment">
            <p class="index-text">{{index+1}}</p>
            <div class="text">
                <p >Date: {{appointment.date}}</p>
                <p>{{appointment.appointment_time}}</p>
            </div>
            
            <mat-icon class="close" fontIcon="close" (click)="deleteAppointment($event)"></mat-icon>
        </div>
        
    }
</div>
</div>