.container{
    background-color: #13131A ;
    display: flex;
    flex-direction: column;
    color:white;
}
mat-icon{
    color:white;
}

.appointment{
    background-color: #373749;
    margin: 5px;
    border-radius:15px;
    display:flex;
}