<app-toolbar></app-toolbar>
<div class="container" (click)="makeappointment()">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="event_available"></mat-icon>
    <p>Make an appointment</p>
</div>

<div class="container">
    <label>Your Appointments:</label>
    @for(appointment of appointments; track appointment){
        <div class="appointment">
            <p>Date: {{appointment.date}}</p>
            <p>{{appointment.appointment_time}}</p>
            <button type="button" (click)="deleteAppointment($event)"> x </button>
        </div>
        
    }
</div>