<div class="container-usermain">
    <app-toolbar></app-toolbar>
    <div class="bg-main">
        <div class="next-appointment-container">
            <div class="next-appointment">
            @if(nextAppointment){
            <h2 class="next-appointment-title">Next appointment</h2>
            <h3 class="next-appointment-hour">{{nextAppointment.appointment_time}}</h3>
            <p>{{nextAppointment.name}} {{nextAppointment.lastname}}</p>
            }
            @else{
            <p>No appointments</p>
            }
        </div>
        </div>

        <div class="today-appointment">
            @for(appointment of todayAppointments;track appointment;let index = $index){
            <p>{{index+1}}</p>
            <p>{{appointment.appointment_time}}</p>
            <p>{{appointment.name}} {{appointment.lastname}}</p>
            }
        </div>
    </div>
</div>