<!--login.component.html-->

<div class="form-container">
    <h1>Login</h1>
    <form [formGroup]="loginform" (ngSubmit)="login()">
        <input placeholder="Email" type="text" formControlName="username">
        <input placeholder="Password" [type]="show ? 'text' : 'password'" formControlName="password">
        <button class="btn-show-switch" type="button" (click)="showPassword()">{{show ? 'Show' : 'Hide'}}</button>
        <div class="btn-container">
            <button class="btn login-btn" type="submit">Login</button>
            <button class="btn register-btn" type="button" (click)="register()">Register</button>
        </div>
    </form>
    
</div>
